# Notebook 1 - Contexto, fonte e formato dos dados.

Python, Dados e Narrativas


<img src="../imagens/slide6.png">
<img src="../imagens/slide7.png">
<img src="../imagens/slide8.png">
<img src="../imagens/slide9.png">
<img src="../imagens/slide10.png">
<img src="../imagens/slide11.png">



## Fonte de Dados

- [API Dados Abertos da Câmara dos Deputados](https://dadosabertos.camara.leg.br/swagger/api.html) 
- [Portal Brasileiro de Dados Abertos](http://dados.gov.br/)
- [Expectativa de Vida - Organização mundial de Saúde](http://apps.who.int/gho/data/view.main.SDG2016LEXREGv?lang=en)
- [Comparando as respostas](http://educacao.dadosabertosbr.com/)
- [INEP](http://inep.gov.br/dados)
- [IPEA - Atlas da Violência](http://www.ipea.gov.br/atlasviolencia/downloads)
- [IPEA - Atlas da Violência - PDF](http://www.ipea.gov.br/atlasviolencia/arquivos/downloads/7383-atlas2019infograficofinal-1.pdf)

- [Homicídios Faixa Etária de 15 - 29 anos - Mulheres](http://www.ipea.gov.br/atlasviolencia/dados-series/74)
- [Homicídios Faixa Etária de 15 - 29 anos - Homens](http://www.ipea.gov.br/atlasviolencia/dados-series/74)
- []()

No [Portal Brasileiro de Dados Abertos](http://dados.gov.br/) é possível selecionar uma organização e verificar quais os conjuntos de dados que ela dispõe.


[Olhando o conjunto de dados do INEP](http://dados.gov.br/organization/instituto-nacional-de-estudos-e-pesquisas-educacionais-anisio-teixeira-inep) - Instituto Nacional de Estudos e Pesquisas Educacionais Anísio Teixeira)
selecionamos o [conjunto Instituições de Ensino Básico](http://dados.gov.br/dataset/instituicoes-de-ensino-basico) a fim de explorar esse contexto e também por existir um link direto para os dados.

Vamos iniciar com 3 passos básicos que sempre serão necessários ao dar início a uma atividade de análise:

**1 - Vamos importar os dados que estão lá no link para dentro do nosso Notebook.**

URL é um outro nome para os links que conhecemos. 
Na página do conjunto de dados que queremos existe uma informação exatamente assim:

<img src="../imagens/print_url.png">

Vamos copiar o que tem no campo 'URL' e colar abaixo como o valor da nossa variável 'url'

In [6]:
import pandas as pd
import requests
import matplotlib.pyplot as plt

In [7]:
url = 'http://repositorio.dados.gov.br/educacao/CADASTRO_MATRICULAS_REGIAO_NORDESTE_PE_AL_SE_BA_2012.csv'

In [8]:
educacao_basica = pd.read_csv(filepath_or_buffer=url, delimiter=';', header=11, encoding = "ISO-8859-1")
educacao_basica.head()

/home/lsp/anaconda2/envs/notebookEnv/lib/python3.6/site-packages/IPython/core/interactiveshell.py:2698: DtypeWarning: Columns (0) have mixed types. Specify dtype option on import or set low_memory=False.
  interactivity=interactivity, compiler=compiler, result=result)

,ANO_CENSO,PK_COD_ENTIDADE,Nome_Escola,REDE,ID_DEPENDENCIA_ADM,Dependencia_Administrativa,CATESCPRIVADA,Localizacao,REGIAO,FK_COD_ESTADO,...,MATEEINCL,NESCEE,MATESPTOT,NESCEDESP,MATESP,NESCEDESPEXCLUS,MATESPEXCLUS,NESCEDESPCLESP,MATESPCLESP,ESCACESS
0,2012,26000016.0,CENTRO EDUCACIONAL DO ARARIPE,Privada,4.0,Privada,Particular,Urbana,Nordeste,26.0,...,1.0,1.0,1.0,0.0,0.0,0.0,0.0,0.0,0.0,1.0
1,2012,26000024.0,ESCOLA LUIZ GONZAGA DUARTE,Pública,2.0,Estadual,NaN,Urbana,Nordeste,26.0,...,20.0,1.0,45.0,1.0,25.0,0.0,0.0,1.0,25.0,1.0
2,2012,26000032.0,CRECHE CORACAO DE MARIA,Pública,3.0,Municipal,NaN,Urbana,Nordeste,26.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
3,2012,26000067.0,ESCOLA ALEXANDRE GUALTER DE ALENCAR,Pública,3.0,Municipal,NaN,Rural,Nordeste,26.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0
4,2012,26000075.0,ESCOLA ALMEIDA JUNIOR,Pública,3.0,Municipal,NaN,Rural,Nordeste,26.0,...,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0,0.0

In [4]:
educacao_basica.columns.values

NameError: name 'educacao_basica' is not defined

SyntaxError: invalid syntax (<ipython-input-5-0e1d07623c8d>, line 3)

## CSV - 
## Excel - 
## HTML
## API
## SAS